<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function () {
            $('a#stop').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/stop',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#rotateleft').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/rotateleft',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#rotateright').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/rotateright',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#slideleft').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/slideleft',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#slideright').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/slideright',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#forward').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/forward',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#backward').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/backward',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#posemine').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/posemine',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#nbmine').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/nbmine',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#accroche').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/accroche',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#claw1').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/claw1',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#claw2').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/claw2',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#motorA1').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/motorA1',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#motorA2').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/motorA2',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#motorB1').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/motorB1',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#motorB2').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/motorB2',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#motorC1').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/motorC1',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
        $(function () {
            $('a#motorC2').on('click', function (e) {
                e.preventDefault()
                $.getJSON('/motorC2',
                    function (data) {
                        //do nothing
                    });
                return false;
            });
        });
    </script>
</head>

<body>
</body>